{{ if (eq .chezmoi.osRelease.id "arch") -}}
#!/usr/bin/env bash

set -eufo pipefail

{{ if ne .chezmoi.username "root" -}}
    readonly SUDO={{ .sudo }}
{{ else -}}
    readonly SUDO=
{{ end -}}

echo "Begin setting up Arch Linux packages"

readonly PACKAGES=(
    # base-devel without sudo
    base
    autoconf
    automake
    binutils
    bison
    fakeroot
    file
    findutils
    flex
    gawk
    gcc
    gettext
    grep
    groff
    gzip
    libtool
    m4
    make
    pacman
    patch
    pkgconf
    sed
    tar
    texinfo
    util-linux
    which

    xorg-server
    xorg-xinit
    curl
    man
    screen
    git
    fish
    tmux
    exa
    tree
    i3
    i3blocks
    i3status
    rofi
    rofimoji
    flameshot
    figlet
    feh
    xdotool
    wireplumber
    wtype
    flatpak
    tldr
    emacs-nox
    wezterm
    bat
    fzf
    fd
    debugedit
    noto-fonts-emoji
    ttf-nerd-fonts-symbols
    dunst
)

readonly PACKAGES_AUR=(
    tbsm
)

function install_yay() {
    local -r yay_dest_dir=$(mktemp -d -u)
    local -r yay_git_url=https://aur.archlinux.org/yay.git

    git clone ${yay_git_url} ${yay_dest_dir}
    cd ${yay_dest_dir}

    makepkg -si

    rm -rf ${yay_dest_dir}
}

for package in ${PACKAGES[@]}
do
    if ! pacman -Qq ${package} &> /dev/null
    then
        ${SUDO} pacman -S --noconfirm --needed ${package}
    fi
done

if ! command -v yay > /dev/null
then
    install_yay
fi

for package_aur in ${PACKAGES_AUR[@]}
do
    yay -S --noconfirm --needed ${package_aur}
done

echo "Finish setting up Arch Linux packages"

{{ end -}}
