#!/usr/bin/env bash

set -eufo pipefail

echo "Begin setting up flatpak"

readonly APPLICATIONS=(
	com.bitwarden.desktop
	com.obsproject.Studio
	md.obsidian.Obsidian
	com.spotify.Client
	org.inkscape.Inkscape
)

for application in ${APPLICATIONS[@]}
do
	flatpak list --app | grep -q ${application} ||
		flatpak install flathub ${application} -y
done

echo "Finish setting up flatpak"