#!/usr/bin/env bash

set -eufo pipefail

readonly GIT_CLONE_DEST=$(mktemp -d -u)
readonly GIT_REPO_URL=https://github.com/LukeSmithxyz/voidrice.git

git clone ${GIT_REPO_URL} ${GIT_CLONE_DEST}

{{ if ne .chezmoi.username "root" -}}
    sudo cp -r ${GIT_CLONE_DEST}/.local/bin/statusbar/ /usr/bin/
{{ else -}}
    cp -r ${GIT_CLONE_DEST}/.local/bin/statusbar/ /usr/bin/
{{ end -}}

rm -rf ${GIT_CLONE_DEST}
