#!/usr/bin/env bash

set -eufo pipefail

{{ if ne .chezmoi.username "root" -}}
    readonly SUDO=sudo
{{ else -}}
    readonly SUDO=
{{ end -}}

echo "Begin setting up i3blocks"

function statusbar_luke_smith() {
    local -r git_clone_dest=${1}
    local -r git_repo_url=${2}

    git clone ${git_repo_url} ${git_clone_dest}

    ${SUDO} cp -r ${git_clone_dest}/.local/bin/statusbar/ /usr/bin/

    rm -rf ${git_clone_dest}
}

function script_collection() {
    local -r git_clone_dest=${1}
    local -r git_repo_url=${2}

    git clone ${git_repo_url} ${git_clone_dest}

    cd ${git_clone_dest}
    ${SUDO} make install

    rm -rf ${git_clone_dest}
}

statusbar_luke_smith $(mktemp -d -u) https://github.com/LukeSmithxyz/voidrice.git
script_collection $(mktemp -d -u) https://github.com/theobori/scripts-collection.git

echo "Finish setting up i3blocks"
