{{ if (eq .chezmoi.osRelease.id "fedora") -}}
#!/usr/bin/env bash

set -eufo pipefail

{{ if ne .chezmoi.username "root" -}}
    readonly SUDO={{ .sudo }}
{{ else -}}
    readonly SUDO=
{{ end -}}

echo "Begin setting up Fedora packages"

readonly PACKAGES=(
    curl
    make
    git
    fish
    tmux
    exa
    i3
    i3blocks
    rofi
    rofimoji
    flameshot
    figlet
    feh
    xdotool
    wireplumber
    wtype
    flatpak
    tldr
    emacs-nox
    fzf
    bat
    fd-find
    dunst
    zoxide

    # COPR packages name
    wezterm
)

readonly COPRS=(
    wezfurlong/wezterm-nightly
    dturner/TOS
)

for copr in ${COPRS[@]}
do
    if ! dnf copr list | grep -q ${copr}
    then
        ${SUDO} dnf copr enable ${copr} -y
    fi
done

for package in ${PACKAGES[@]}
do
    if ! rpm -q ${package} > /dev/null
    then
        ${SUDO} dnf install ${package} -y
    fi
done

echo "Finish setting up Fedora packages"

{{ end -}}
