{{ $has_age := false }}

{{ if stdinIsATTY }}
{{ $has_age = promptBool "do you have age " }}
{{ end }}

encryption: "age"
{{ if $has_age }}
age:
    identity: "/home/nagi/.config/age/key.txt"
    recipient: "age14m06fd3svs9neg2w97ccw3c8470hckl95qxr6jw8fgm4ex65352q6tun06"
{{ end }}
