{{ $has_age := false }}
{{ $sudo := "sudo" }}
{{ $font := "Comic Code" }}

{{ if stdinIsATTY }}
{{ $has_age = promptBool "do you have age " }}

{{- $sudo_choices := list "sudo" "doas" -}}
{{- $sudo = promptChoiceOnce . "choice" "choose" $sudo_choices -}}

{{ $font = promptString "font name " }}
{{ end }}

{{ if $has_age }}
encryption: "age"
age:
    identity: "/home/nagi/.config/age/key.txt"
    recipient: "age14m06fd3svs9neg2w97ccw3c8470hckl95qxr6jw8fgm4ex65352q6tun06"
{{ end }}

data:
    sudo: {{ $sudo }}
    font: {{ $font }}